In [2]:
#4.5: Data Consistency Checks
#Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Original Data path folder
original_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Original Data'

# Prepared Data path folder
prepared_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data'

In [4]:
# Import products.csv from Original Data
df_prods = pd.read_csv(os.path.join(original_data_path, 'products.csv'))

# Import orders_wrangled.csv from Prepared Data
df_ords = pd.read_csv(os.path.join(prepared_data_path, 'orders_wrangled.csv'))

In [5]:
#2
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
# order_id ranges from 1 till 3421083 shows large data set
#User_id ranges from 1 till 206209
#order number ranges from 1 till 100
#order_dow ranges from 0 till 6 (valid days of week)
# order_hour_of _day ranges from 0 till 23 (valid hours of day)
#days since prior order ranges from 0 till 30

In [7]:
#3.
for col in df_ords.columns:
    if df_ords[col].map(type).nunique() > 1:
        print(col)

In [8]:
df_ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [9]:
#df_ords have no mixed type data

In [10]:
#5. missing values
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [11]:
# this indicate except days since prior order which has a missing value of 206209 all the other columns are clean

In [12]:
#6 addressing missing value
df_ords_clean = df_ords
df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True
df_ords_clean

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0,False
3421079,1854736,206209,11,4,10,30.0,False
3421080,626363,206209,12,1,12,18.0,False
3421081,2977660,206209,13,1,12,7.0,False
3421082,272231,206209,14,6,14,30.0,False

In [13]:
#verfiy
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
new_customer                   0
dtype: int64

In [14]:
#7 duplicates
df_dups = df_ords[df_ords.duplicated()]

In [15]:
df_dups.shape

(0, 7)

In [16]:
# no duplicates found

In [ ]:
# clean data frame export
df_ords.to_csv(os.path.join(prepared_data_path, 'orders_checked.csv'), index=False)