In [3]:
#4.5: Data Consistency Checks
#Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Original Data path folder
original_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Original Data'

# Prepared Data path folder
prepared_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data'

In [5]:
# Import products.csv from Original Data
df_prods = pd.read_csv(os.path.join(original_data_path, 'products.csv'))

# Import orders_wrangled.csv from Prepared Data
df_ords = pd.read_csv(os.path.join(prepared_data_path, 'orders_wrangled.csv'))

In [6]:
# create a data frame
df_test=pd.DataFrame()

In [7]:
# create a mixed type column
df_test['mix']=['a','b',1,True]

In [8]:
#verify
df_test

    mix
0     a
1     b
2     1
3  True

In [9]:
#check for mixed types
df_test.dtypes

mix    object
dtype: object

In [10]:
df_test = pd.DataFrame()
df_test['mix'] = ['a', 'b', 1, True]

df_test['mix'].map(type)

0     <class 'str'>
1     <class 'str'>
2     <class 'int'>
3    <class 'bool'>
Name: mix, dtype: object

In [11]:
for col in df_test.columns:
    if df_test[col].map(type).nunique() > 1:
        print(col)

mix

In [12]:
# data type from numeric to string
df_test['mix'] = df_test['mix'].astype('str')

In [13]:
##FINDING MISSING VALUES##
# find missing value
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [14]:
#create a subset of the dataframe containing only the values in question
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
##ADDRESSING MISSING VALUES##
df_prods.shape

(49693, 5)

In [16]:
#method 1
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
df_prods_clean.shape

(49677, 5)

In [18]:
#method 2
df_prods.dropna(inplace = True)

In [19]:
df_prods.dropna(subset = ['product_name'], inplace = True)

In [20]:
##DUPLICATES
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [21]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [22]:
#ADDRESSING DUPLICATES
#check current number of rows
df_prods_clean.shape

(49677, 5)

In [23]:
#create a new dataframe that doesnâ€™t include the duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [24]:
df_prods_clean_no_dups.shape

(49672, 5)

In [25]:
df_prods_clean_no_dups.to_csv(os.path.join(prepared_data_path, 'products_checked.csv'), index=False)