In [12]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [13]:
#DATA PATH FOLDERS
# Original Data path folder
original_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Original Data'

# Prepared Data path folder
prepared_data_path = r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data'

# Orders Products Prior path folder
orders_products_prior_path = r"C:\Users\richa\Documents\4.6_orders_products_prior"

In [14]:
## IMPORTING CSV FILES 
# Import products.csv from Original Data
df_prods = pd.read_csv(os.path.join(original_data_path, 'products.csv'))

# Import orders_wrangled.csv from Prepared Data
df_ords = pd.read_csv(os.path.join(prepared_data_path, 'orders_wrangled.csv'))

# Import orders_products_prior.csv from its folder
df_ords_prior = pd.read_csv(os.path.join(orders_products_prior_path, 'orders_products_prior.csv'))

#Import products_no_dupes.csv from its folder
df_prods_clean_no_dups= pd.read_csv(os.path.join(prepared_data_path,'products_checked.csv'))

In [15]:
#3. Import picked data
df_orders_products_combined = pd.read_pickle(os.path.join(r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl'))

In [16]:
#4 verify
print(df_orders_products_combined.shape)

(32434489, 10)

In [17]:
df_prods_clean_no_dups.shape

(49672, 5)

In [19]:
#test merge
pd.merge(df_orders_products_combined, df_prods_clean_no_dups, on = ['product_id'], indicator='Match')

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [20]:
df_orders_products_combined.shape

(32434489, 10)

In [26]:
# Merge orders_products_combined with products_clean_no_dups on product_id
df_ords_clean_no_dups_merge = df_prods_clean_no_dups.merge(
    df_orders_products_combined, 
    on = 'product_id',
    how='inner',
    indicator = 'merge_indicator')

In [27]:
df_ords_clean_no_dups_merge.shape

(32404859, 15)

In [29]:
#merge flag
df_ords_clean_no_dups_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [30]:
# Export the final merged dataframe to a pickle file
df_ords_clean_no_dups_merge.to_pickle(
    os.path.join(prepared_data_path, 'ords_prods_merge.pkl')
)