In [23]:
#4.4 Data Wrangling & Subsetting
#Import Libraries
import pandas as pd
import numpy as np
import os

# 1.Set the path to your Original Data folder (central location)
data_path=r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Original Data'

# Load CSV files using os.path.join into pandas dataframes
df_ords = pd.read_csv(os.path.join(data_path, 'orders.csv'), index_col=False)
df_prods = pd.read_csv(os.path.join(data_path, 'products.csv'),index_col=False)
df_dep = pd.read_csv(os.path.join(data_path, 'departments.csv'), index_col=False)

In [24]:
#2.change IDs to strings: Convert order_id and user_id to string
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [25]:
# verfication
df_ords['order_id'].dtype  
df_ords['user_id'].dtype

dtype('O')

In [26]:
# 3.Drop the 'eval_set' column 
df_ords=df_ords.drop (columns=['eval_set'])

In [34]:
# 4. Busiest hour for placing orders
df_ords['order_hour_of_day'].value_counts()

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [46]:
# 5. meaning behind a value of 4 in the "department_id"
#from excercise
# Transpose the departments dataframe
df_dep_t = df_dep.T

# Reset the index to make the first row a proper row
df_dep_t = df_dep_t.reset_index()

# Take the first row to use as header
new_header = df_dep_t.iloc[0]

# Create a new dataframe without the first row
df_dep_t_new = df_dep_t[1:]

# Assign the new header
df_dep_t_new.columns = new_header

# Check the cleaned dataframe
df_dep_t_new.head()

# Convert the cleaned dataframe to a dictionary using row index as key
data_dict = df_dep_t_new.set_index('department_id')['department'].to_dict()

# Check the dictionary
print(data_dict)

{'1': 'frozen', '2': 'other', '3': 'bakery', '4': 'produce', '5': 'alcohol', '6': 'international', '7': 'beverages', '8': 'pets', '9': 'dry goods pasta', '10': 'bulk', '11': 'personal care', '12': 'meat seafood', '13': 'pantry', '14': 'breakfast', '15': 'canned goods', '16': 'dairy eggs', '17': 'household', '18': 'babies', '19': 'snacks', '20': 'deli', '21': 'missing'}

In [42]:
df_produce = df_prods[df_prods['department_id'] == 4]
df_produce.head()

,product_id,product_name,aisle_id,department_id,prices
30,31,White Pearl Onions,123,4,7.5
42,43,Organic Clementines,123,4,11.5
44,45,European Cucumber,83,4,14.3
65,66,European Style Spring Mix,123,4,11.7
88,89,Yogurt Fruit Dip Sliced Apples,123,4,12.6

In [45]:
print(data_dict.get('4'))

produce

In [48]:
#6. breakfast item sales subset
df_dep_t_new

0  department_id       department
1              1           frozen
2              2            other
3              3           bakery
4              4          produce
5              5          alcohol
6              6    international
7              7        beverages
8              8             pets
9              9  dry goods pasta
10            10             bulk
11            11    personal care
12            12     meat seafood
13            13           pantry
14            14        breakfast
15            15     canned goods
16            16       dairy eggs
17            17        household
18            18           babies
19            19           snacks
20            20             deli
21            21          missing

In [ ]:
#Breakfast department id is 14

In [50]:
df_breakfast = df_prods[df_prods['department_id'] == 14]
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [54]:
# 7 Subset products for dinner party departments: alcohol(5), deli(20), beverages(7), and meat/seafood(12)
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5, 20, 7, 12])]

# verification 
df_dinner_party.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [55]:
# How many rows does the last dataframe you created have?
df_dinner_party.shape

(7650, 5)

In [65]:
# 9. all orders for user_id = 1
df_user_1 = df_ords[df_ords['user_id'] == '1']

# verification
df_user_1.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [64]:
#10.
df_user_1.describe()

       order_number  order_dow  order_hour_of_day  days_since_prior_order
count     11.000000  11.000000          11.000000               10.000000
mean       6.000000   2.636364          10.090909               19.000000
std        3.316625   1.286291           3.477198                9.030811
min        1.000000   1.000000           7.000000                0.000000
25%        3.500000   1.500000           7.500000               14.250000
50%        6.000000   3.000000           8.000000               19.500000
75%        8.500000   4.000000          13.000000               26.250000
max       11.000000   4.000000          16.000000               30.000000

In [67]:
#User 1 has placed total 11 orders with mean order of 6.ordered between 1 to 4 days of week 
#from 7 to 16 pm and user wait on average of 19 days before prior order

In [74]:
# 12. Export the wrangled orders dataframe
data_path=r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data'
import os

In [76]:
df_ords.to_csv(
    os.path.join(data_path, 'orders_wrangled.csv'),
    index=False
)

In [83]:
# 13. Export the wrangled department dataframe
data_path=r'C:\Users\richa\Documents\01-2026 Instacart Basket Analysis\02 Data\Prepared Data'
import os

In [84]:
df_dep_t_new.to_csv(os.path.join(data_path,'departments_wrangled.csv'),index=False)